@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url('../fonts/Inter-font/Inter/Inter-VariableFont_opsz\,wght.ttf') format('woff2');
}