@media (min-width: 1921px) {
    .content {
        padding: 48px 0 0 48px;
    }

    .size-wrapper {
        padding: 0 48px 48px 0;
        max-width: 1640px;
    }
}

@media (max-width: 1222px) {
    .priority-button-container>* {
        margin-right: 8px;
    }

    .priority-button-container>*:last-child {
        margin-right: 0;
    }

    .priority-btn {
        width: 104px;
        font-size: 16px;
    }

    .options-wrapper.open-assigned-to #assigned-to-options-container {
        font-size: 16px;
    }
}

@media (max-width: 1120px) {
    .priority-btn {
        padding: 16px 4px;
        gap: 4px;
        width: 92px;
    }
}

@media (max-width: 1024px),
(pointer: coarse) {
    .content-container {
        height: calc(100vh - 160px);
        flex-direction: column;
    }

    .content {
        padding: 14px 40px 0 40px;
        scrollbar-width: none;
    }

    .priority-btn {
        gap: 8px;
        padding: 16px 10px;
    }

    #assigned-to-options-container {
        font-size: 20px !important;
    }

    .contact-option {
        padding: 7px 21px;
    }

    .content h1 {
        position: fixed;
        top: 120px;
        left: 40px;
    }

    .form-fill-part {
        flex-direction: column;
    }

    .left-form {
        max-width: unset;
        padding: 0 0 0 0;
    }

    .border {
        display: none;
    }

    .form {
        padding-top: 0;
    }

    .right-form {
        max-width: unset;
        padding: 0 0 0 0;
    }

    #priority-legend {
        padding: 10px 0;
    }

    .priority-button-container {
        padding-top: 0;
    }

    .options-wrapper.open {
        z-index: 32 !important;
    }

    .priority-btn {
        height: 41px;
        width: 180px;
        font-size: 20px;
    }

    .form-buttons-part {
        position: fixed;
        bottom: 96px;
        left: 40px;
        right: 40px;
    }

    .responsive-div {
        display: flex;
    }

    #responsive-div-one {
        height: 114px;
    }

    #taskSuccessMsg {
        bottom: 50%;
        left: 50%;
    }

    .delete-attachment-btn {
        display: none;
    }
}

@media (max-width: 768px),
(pointer: coarse) {
    .content {
        padding: 0 16px 0 16px;
    }

    .content h1 {
        top: 102px;
        left: 16px;
        font-size: 47px;
    }

    .responsive-div {
        height: 88px;
    }

    #responsive-div-one {
        height: 88px;
    }

    .font-size-20 {
        font-size: 16px;
    }

    .input-field {
        height: 40px;
        font-size: 16px;
    }

    .task-description-area {
        height: 88px;
        font-size: 16px;
    }

    .priority-button-container {
        justify-content: space-between;
    }

    .priority-btn {
        width: 160px;
        font-size: 16px;
    }

    .contact-input {
        font-size: 16px !important;
    }

    .contact-option {
        padding: 7px 7px;
    }

    .initials-container {
        gap: 4px;
    }

    #assigned-to-options-container {
        font-size: 16px !important;
    }

    .input-field-subtask {
        font-size: 16px;
    }

    #assigned-to-options-container {
        font-size: 16px;
    }

    #category-options-container {
        font-size: 16px !important;
    }

    .select-wrapper {
        height: 48px !important;
    }

    .form-buttons-part {
        left: 16px;
        right: 16px;
        justify-content: flex-end;
    }

    #title-error {
        top: 66px;
    }

    #due-date-error {
        top: 66px;
    }

    #taskSuccessMsg {
        width: 80%;
    }
}

@media (max-width: 540px),
(pointer: coarse) {

    .priority-btn {
        width: 120px;
    }

    .delete-all-attachments {

        p {
            display: none;
        }
    }
}

@media (max-width: 420px),
(pointer: coarse) {

    .priority-btn {
        width: 100px;
    }
}

@media (max-width: 370px),
(pointer: coarse) {

    .priority-btn {
        width: 60px;
    }
}