#wrongFormatErrorMsg {
    position: fixed;
    gap: 4px;
    bottom: -100px;
    left: calc(50% + 116px);
    transform: translateX(-50%);
    background-color: var(--errorMsg);
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    width: 360px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
    opacity: 0;
    transition: bottom 0.4s ease, opacity 0.4s ease;

    svg {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: 400;
    }
}

#wrongFormatErrorMsg.slide-out {
    bottom: 50%;
    opacity: 1;
}

#taskSuccessMsg.slide-in {
    bottom: -100px;
    opacity: 0;
}

#taskSuccessMsg.hidden {
    display: none;
}

.attachment-info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #848484;
    min-height: 24px;
}

.delete-all-attachments {
    display: none;
    /* display: flex; */
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: var(--black);

    &:hover {
        text-decoration: underline;
    }

    p {
        margin: 0;
    }
}

.attachment-input-field {
    height: 48px;
    width: 100%;
    padding: 0 21px;
    border: 1px dotted var(--borderGrey);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--backgroundGrey);
    justify-content: center;

    &::placeholder {
        color: var(--borderGrey);
    }

    &:focus {
        border-color: var(--lightBlue);
        outline: none;
    }

    &:focus.invalid {
        border-color: var(--redBorder);
    }
}

.input-field-attachment {
    display: none;
}

.attachment-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--sidebarNoticeGrey);
}

.attachment-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: visible;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--dark);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &:empty {
        overflow: hidden;
    }
}

.attachment-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 120px;
    height: 84px;
    border: 1px solid var(--borderGrey);
    border-radius: 10px;
    margin: 6px 0 4px 0;

    >img {
        width: 100%;
        height: 60px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
        object-position: center top;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);

        >img {
            filter: brightness(0.6);
        }

        .delete-attachment-btn {
            opacity: 1;
        }
    }
}

.attachment-description {
    font-size: 16px;
    text-align: center;
    padding: 2px 8px;
    margin: 0;
    color: var(--sidebarNoticeGrey);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    line-height: 1.2;
}

.delete-attachment-btn {
    position: absolute;
    top: calc(50% - 12px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 10;

    img {
        width: 24px;
        height: 24px;
        filter: brightness(0) invert(1);
    }

    &:hover {
        background-color: var(--lightBlue);
    }
}

.attachment-tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--sidebarNoticeGrey);
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 16px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 100;
}