.attachment-list{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--dark);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &:empty {
        overflow: hidden;
    }
}

.attachment-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 84px;
    border: 1px solid var(--borderGrey);
    border-radius: 10px;
    margin: 8px 0 4px 0;

    img {
        width: 100%;
        height: 60px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
        object-position: center top;
    }

    &::after {
        content: attr(data-tooltip);
        position: absolute;
        bottom: -18px;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.1);
        color: var(--sidebarNoticeGrey);
        padding: 6px 10px;
        border-radius: 6px;
        font-size: 16px;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 100;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);

        img {
            filter: brightness(0.6);
        }

        &::after {
            opacity: 1;
        }
    }
}

.attachment-description{
    font-size: 16px;
    text-align: center;
    padding: 2px 8px;
    margin: 0;
    color: var(--sidebarNoticeGrey);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    line-height: 1.2;
}