.subtask-text.completed {
  text-decoration: line-through;
  color: #888;
}

.content-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 96px);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 54px;
  overflow-y: auto;
  background-color: var(--white);
  scrollbar-width: none;

  h1 {
    font-size: 63px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 32px;
}

.form-fill-part {
  display: flex;
  justify-content: space-between;
}

.left-form {
  display: flex;
  flex-direction: column;
  padding: 0 48px 48px 0;
  gap: 8px;
  width: 100%;
  max-width: 50%;
}

.label-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 19px;
}

.required::after {
  content: "*";
  color: var(--redBorder);
}

.input-inline {
  position: relative;
  display: inline-block;
}

.calendar-icon {
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.calendar-img {
  width: 24px;
  height: 24px;
}

.border {
  height: 100%;
  width: 0;
  border: 1px solid var(--borderGrey);
  border-radius: 8px;
}

.right-form {
  display: flex;
  flex-direction: column;
  padding: 0 0 48px 48px;
  width: 100%;
  max-width: 50%;
}

.input-field {
  height: 48px;
  width: 100%;
  padding: 0 21px;
  border: 1px solid var(--borderGrey);
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--white);

  &::placeholder {
    color: var(--borderGrey);
  }

  &:focus {
    border-color: var(--lightBlue);
    outline: none;
  }

  &:focus.invalid {
    border-color: var(--redBorder);
  }
}

.textarea-wrapper {
  position: relative;
  display: inline-block;
}

.task-description-area {
  font-family: "Inter var", sans-serif;
  resize: none;
  height: 120px;
  width: 100%;
  padding: 14px 21px;
  border: 1px solid var(--borderGrey);
  border-radius: 10px;
  font-size: 20px;
  cursor: text;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &::placeholder {
    color: var(--borderGrey);
  }

  &:focus {
    border-color: var(--lightBlue);
    outline: none;
  }
}

.resize-handle {
  position: absolute;
  right: 4px;
  bottom: 8px;
  width: 18px;
  height: 18px;
  cursor: ns-resize;
  user-select: none;
}

.priority-button-container {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
}

.priority-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  height: 56px;
  width: 120px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  font-size: 20px;
  line-height: 120%;
  gap: 8px;
  padding: 16px 10px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12), -2px 2px 6px rgba(0, 0, 0, 0.05),
      2px 2px 6px rgba(0, 0, 0, 0.05);
  }

  &[data-priority="urgent"] {
    color: var(--black);

    svg {
      color: var(--urgent);
    }
  }

  &[data-priority="medium"] {
    color: var(--black);

    svg {
      color: var(--middle);
    }
  }

  &[data-priority="low"] {
    color: var(--black);

    svg {
      color: var(--low);
    }
  }

  &.active {
    &[data-priority="urgent"] {
      color: var(--white);
      background-color: var(--urgent);

      svg {
        color: var(--white);
      }
    }

    &[data-priority="medium"] {
      color: var(--white);
      background-color: var(--middle);

      svg {
        color: var(--white);
      }
    }

    &[data-priority="low"] {
      color: var(--white);
      background-color: var(--low);

      svg {
        color: var(--white);
      }
    }
  }
}

.select-wrapper {
  position: relative;
  width: 100%;
  z-index: 30;
  display: flex;
  align-items: center;

  &:focus {
    border-color: var(--lightBlue);
    outline: none;
  }
}

.z-index-20 {
  z-index: 20;
}

.z-index-10 {
  z-index: 10;
}

.styled-select {
  height: 48px;
  width: 100%;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--white);

  &:hover {
    border-color: rgba(0, 0, 0, 0.3);
  }

  &.invalid {
    border-color: var(--redBorder);
  }
}

.invalid {
  border: 1px solid var(--redBorder);
  z-index: 1001;
}

.styled-select-addition {
  border: 1px solid var(--borderGrey);
  padding: 12px 21px 0 21px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

:root {
  --white: #ffffff;
  --borderGrey: #e0e0e0;
}

.form-buttons-part {
  position: absolute;
  bottom: 54px;
  left: 286px;
  right: 54px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1000;
}

.sign-info {
  font-size: 16px;
  line-height: 120%;

  &::before {
    content: "*";
    color: var(--redBorder);
  }
}

.buttons-area {
  display: flex;
  align-items: center;
  gap: 16px;
}

#add-task-autofill-btn svg {
  margin-bottom: 6px;
}

.width-100 {
  width: 100%;
  max-width: unset;
  transition: width 1.3s ease;
}

.no-results {
  font-size: 20px;
  color: var(--redBorder);
  padding: 16px 21px;
  text-align: flex-start;
  background-color: var(--white);
  border-radius: 10px;
}

.bg-color-grey {
  background-color: var(--lightGrey);
}

.size-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1580px;
  height: min(calc(100vh - 150px), 1650px);
}

.error-message {
  color: var(--redBorder);
  font-size: 16px;
  margin-top: 4px;
  display: none;
  position: absolute;
  top: 74px;
}

.d-flex {
  display: flex;
}

#taskSuccessMsg {
  position: fixed;
  gap: 12px;
  bottom: -100px;
  left: calc(50% + 116px);
  transform: translateX(-50%);
  background-color: var(--dark);
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 326px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: bottom 0.4s ease, opacity 0.4s ease;
}

#taskSuccessMsg.slide-out {
  bottom: 50%;
  opacity: 1;
}

#taskSuccessMsg.slide-in {
  bottom: -100px;
  opacity: 0;
}

#taskSuccessMsg.hidden {
  display: none;
}

.font-size-20 {
  font-size: 20px;
}

.responsive-div {
  display: none;
  height: 96px;
  width: 100%;
  background-color: var(--lightGrey);
}

