.clear-btn {
  display: flex;
  align-items: center;
  color: var(--black);
  background-color: var(--white);
  height: 56px;
  padding: 16px;
  border: 1px solid var(--black);
  border-radius: 10px;
  font-size: 20px;
  gap: 4px;
  line-height: 120%;
  cursor: pointer;
}

.clear-btn:hover {
  color: var(--lightBlue);
  border-color: var(--lightBlue);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.x-icon path {
  transition: fill 0.3s ease;
}

.create-btn {
  display: flex;
  align-items: center;
  background-color: var(--darkBlue);
  color: var(--white);
  height: 56px;
  padding: 16px;
  border: 1px solid var(--black);
  border-radius: 10px;
  font-size: 20px;
  gap: 8px;
  line-height: 120%;
  cursor: pointer;
}

.create-btn:hover {
  color: var(--white);
  border-color: var(--lightBlue);
  background-color: var(--lightBlue);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.create-btn img {
  height: 14px;
  width: auto;
  object-fit: cover;
}

#add-task {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 10px;
  height: 40px;
}

#add-task.dark-blue {
  background-color: var(--darkBlue);
}

#add-task.dark-blue:hover {
  background-color: var(--darkHover);
}

#add-task span {
  white-space: nowrap;
}

#add-task img {
  height: 16px;
  width: auto;
}