
:root {
--dark: #2A3647;
--darkHover: #091931;
--sidebarHover: #2e425d;
--black: #000000;
--lightBlue: #29ABE2;
--white: #FFFFFF;
--lightGrey: #F6F7F8;
--grey: #E7E7E7;
--sidebarGrey: #CDCDCD;
--sidebarNoticeGrey: #A8A8A8;
--darkBlue: #42526E;
--summaryOrange: #FF3D00;
--statusBarGrey: #F4F4F4;
--statusBarBlue: #4589FF;
--userStory: #0038FF;
--technicalTask: #1FD7C1;
--urgent: #FF3D00;
--middle: #FFA800;
--low: #7AE229;
--borderGrey: #D1D1D1;
--peachyPink: #FF8190;
--redBorder: #FF001F;

--yellow: #FFBB2B;
--orange: #FF7A00;
--lila: #9327FF;
--violet: #6E52FF;
--red: #FF4646;
--petrol: #00BEE8;
--lightYellow: #ffe62b;
--neonGreen: #c3ff2b;
--goldYellow: #ffc701;
--neonPink: #fc71ff;
--peach: #ffa35e;
--coralRed: #ff745e;
--hotPink: #ff5eb3;
--turquoise: #1FD7C1;
--vividBlue: #0038FF;

--blue: #007BFF;
--lightGreen: #8BC34A;
--purple: #9C27B0;
--cyan: #00BCD4;
--lime: #CDDC39;
--teal: #009688;
--indigo: #3F51B5;
--gold: #FFD700;
--brown: #795548;
--deepOrange: #FF5722;
--lightPurple: #CE93D8;
--skyBlue: #87CEEB;
--forestGreen: #228B22;
--coral: #FF7F50;
--lavender: #E6E6FA;

--backgroundGrey: rgba(231, 231, 231, 0.5);
--errorMsg: #ED2F2F;

}
