/*
 * Button Specific Styles (Overlay)
 * Dedicated styles for various buttons within the overlay, defining their appearance and hover effects.
 */
#cancelOverlayBtn {
    background-color: var(--white);
    color: var(--dark);
    border: 1px solid var(--dark);
    font-size: 20px;
}

#cancelOverlayBtn:hover {
    color: var(--lightBlue);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--lightBlue);
}

#cancelOverlayBtn:hover svg {
    filter: invert(61%) sepia(56%) saturate(748%) hue-rotate(167deg) brightness(95%) contrast(91%);
}

#createContactBtn {
    background-color: var(--dark);
    color: var(--white);
    font-size: 21px;
}

#createContactBtn:hover {
    background-color: var(--lightBlue);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#deleteContactBtn {
    background-color: var(--white);
    color: var(--dark);
    border: 1px solid var(--dark);
    font-size: 20px;
}

#deleteContactBtn:hover {
    color: var(--lightBlue);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--lightBlue);
}

#saveEditBtn {
    background-color: var(--dark);
    color: var(--white);
    font-size: 21px;
}

#saveEditBtn:hover {
    background-color: var(--lightBlue);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.add-new-contact-button-div {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 101px;
    top: 0px;
    background-color: var(--white);
    z-index: 100;
    padding-top: 60px;
    padding-bottom: 60px;
}

.add-new-contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: var(--white);
    background-color: var(--dark);
    border-radius: 8px;
    font-weight: 700;
    border: unset;
    cursor: pointer;
    font-size: 21px;
    padding: 8px 50px;
    width: 352px;
    height: 52px;
}

.add-new-contact-button:hover {
    background-color: var(--lightBlue);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.contact-details-card-icon-button {
    border: none;
    color: var(--sidebarNoticeGrey);
    background-color: var(--lightGrey);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.3s ease;
    will-change: transform;
    width: 60px;
}

.contact-details-card-icon-button svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.contact-details-card-icon-button:hover {
    color: var(--lightBlue);
}

.contact-details-card-icon-button:hover svg {
    filter: brightness(0) saturate(100%) invert(64%) sepia(43%) saturate(640%) hue-rotate(168deg) brightness(97%) contrast(87%);
}

.edit-button:hover {
    transform: translateX(2px);
    font-weight: 600;
}

.delete-button:hover {
    transform: translateX(-2px);
    font-weight: 600;
}

.mobile-back-button {
    display: none;
}