@keyframes slideInRight {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0vw);
    }

    to {
        transform: translateX(100vw);
    }
}

@keyframes slideInBottom {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0vh);
    }
}

@keyframes slideOutBottom {
    from {
        transform: translateY(0vh);
    }

    to {
        transform: translateY(100vh);
    }
}

@media (max-width: 768px) {
    @keyframes slideInBottomMessage {
        from {
            transform: translateX(-50%) translateY(500%);
            opacity: 0;
        }

        to {
            transform: translateX(-50%) translateY(0);
            opacity: 1;
        }
    }

    @keyframes slideOutBottomMessage {
        from {
            transform: translateX(-50%) translateY(0);
            opacity: 1;
        }

        to {
            transform: translateX(-50%) translateY(500%);
            opacity: 0;
        }
    }
}

#contactSuccessMsg,
#contactDeletedMsg,
#contactEditedMsg {
    position: absolute;
    bottom: 132px;
    left: 32px;
    background-color: var(--dark);
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 326px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100vw);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

#contactSuccessMsg.slide-in,
#contactDeletedMsg.slide-in,
#contactEditedMsg.slide-in {
    transform: translateX(0);
    opacity: 1;
}

#contactSuccessMsg.slide-out,
#contactDeletedMsg.slide-out,
#contactEditedMsg.slide-out {
    transform: translateX(100vw);
    opacity: 0;
}

#contactSuccessMsg.hidden,
#contactDeletedMsg.hidden,
#contactEditedMsg.hidden {
    display: none;
}

.error-message {
    color: red;
    font-size: 16px;
    min-height: 16px;
}