.content {
    padding: 0px 4px 0 4px;
}

.form {
    padding-top: 0;
}

.size-wrapper {
    height: unset;
}

.form-buttons-part {
    position: static;
    bottom: 54px;
    left: 7%;
    right: 7%;
}

.left-form {
    padding: 0 48px 24px 0;
}

.right-form {
    padding: 0 0 24px 48px;
}

@media (min-width: 1921px) {
    #modal-content {
        min-width: unset;
        min-height: unset;
        width: 1920px;
        height: 1800px;
    }
}

@media (max-width: 1222px) {
    .size-wrapper {
        height: unset;
    }

    .priority-button-container>* {
        margin-right: 8px;
    }

    .priority-button-container>*:last-child {
        margin-right: 0;
    }

    .priority-btn {
        width: 104px;
        font-size: 16px;
    }

    .options-wrapper.open-assigned-to #assigned-to-options-container {
        font-size: 16px;
    }

    #assigned-to-options-container {
        font-size: 16px !important;
    }

    .contact-option {
        padding: 7px 8px;
    }
}

@media (max-width: 1024px) {
    .content-container {
        height: calc(100vh - 160px);
        flex-direction: column;
    }

    .content {
        padding: 0 40px 0 40px;
    }

    .priority-btn {
        gap: 8px;
        padding: 16px 10px;
    }

    #assigned-to-options-container {
        font-size: 20px !important;
    }

    .contact-option {
        padding: 7px 21px;
    }

    .content h1 {
        position: fixed;
        top: 0px;
        left: 10%;
        right: 10%;
        padding-top: 20px;

    }

    .form-fill-part {
        flex-direction: column;
        gap: unset;
    }

    .left-form {
        padding: 0 0 0 0;
        gap: 0;
        max-width: unset;
    }

    .border {
        display: none;
    }

    .form {
        padding: 0;
        gap: 0;
    }

    .right-form {
        padding: 0 0 0 0;
        gap: 0;
        max-width: unset;
    }

    #priority-legend {
        padding: 10px 0;
    }

    .priority-button-container {
        padding-top: 0;
    }

    .priority-btn {
        height: 41px;
        width: 160px;
        font-size: 20px;
    }

    .form-buttons-part {
        position: static;
        bottom: -200px;
        left: 7%;
        right: 7%;
        flex-direction: column;
    }

    .responsive-div {
        display: flex;
        height: 20px;
        width: 100%;
        background-color: var(--white);
    }

    #responsive-div-one {
        height: 56px;
    }

    #taskSuccessMsg {
        bottom: 50%;
        left: 50%;
    }

    .buttons-area {
        width: 100%;
        flex-direction: column;
        gap: 8px;
    }

    .create-btn {
        width: 100%;
        justify-content: center;
    }

    .clear-btn {
        width: 100%;
        justify-content: center;
    }

    .error-message {
        top: 70px;
    }
}

@media (max-width: 768px) {
    .content {
        padding: 0 0 0 0;
    }

    .font-size-20 {
        font-size: 16px;
    }

    .input-field {
        height: 40px;
        font-size: 16px;
    }

    .task-description-area {
        height: 88px;
        font-size: 16px;
    }

    .input-field-subtask {
        font-size: 16px !important;
    }

    .priority-button-container {
        justify-content: space-between;
    }

    .priority-btn {
        width: 140px;
        font-size: 16px;
    }

    .contact-input {
        font-size: 16px !important;
    }

    #assigned-to-options-container {
        font-size: 16px !important;
    }

    .input-field-subtask {
        font-size: 16px;
    }

    #assigned-to-options-container {
        font-size: 16px;
    }

    #category-options-container {
        font-size: 16px !important;
    }

    .select-wrapper {
        height: 48px !important;
    }

    .form-fill-part {
        margin-bottom: 0;
    }

    .form-buttons-part {
        left: 16px;
        right: 16px;
        justify-content: flex-end;
    }

    #title-error {
        top: 66px;
    }

    #due-date-error {
        top: 66px;
    }

    #taskSuccessMsg {
        width: 80%;
    }

    .create-btn {
        font-size: 16px !important;
    }

    .clear-btn {
        font-size: 16px !important;
    }

    .autofill-mobile-btn {
        margin-bottom: 8px;
        font-size: 16px !important;
    }

    .subtask-list::before {
        margin-left: 8px !important;
    }
}

@media (max-width: 650px) {

    .priority-btn {
        width: 100px;
    }
}

@media (max-width: 500px) {

    .priority-btn {
        width: 88px;
    }
}

@media (max-width: 460px) {

    .priority-btn {
        width: 60px;
    }
}