.sidebar-wrapper {
  width: 232px;
  height: min(100vh, 1800px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark);
  color: var(--sidebarGrey);
  font-family: "Inter", sans-serif;
  padding: 64px 0;

  >a>img {
    width: 100px;
    height: 122px;
    margin-left: 66px;
    margin-right: 66px;
    cursor: pointer;
  }

  >nav,
  >nav>div {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
}

.sidebar-nav {
  a {
    text-decoration: none;
    color: var(--sidebarGrey);
    font-size: 16px;
  }

  #login-nav .nav-element {
    column-gap: 13px;
  }
}

.nav-element {
  width: 232px;
  height: 46px;
  display: flex;
  align-items: center;
  padding: 8px 53px;
  column-gap: 10px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    color: var(--white);
    background-color: var(--sidebarHover);
    transition: all 225ms ease-in-out;
  }

  &:hover .sidebar-icon {
    fill: var(--white);
  }

  >svg {
    height: 26px;
  }

  &.nav-1>svg {
    width: 26px;
  }

  &.nav-2>svg {
    width: 26px;
  }

  &.nav-3>svg {
    width: 30px;
  }

  &.nav-4>svg {
    width: 24px;
  }
}

.sidebar-icon {
  fill: var(--sidebarGrey);
}

a.active-page {
  color: var(--white);
  background-color: var(--darkHover);

  .sidebar-icon {
    fill: var(--white);
  }
}

.legal>a.active-page {
  color: var(--white);
}

.legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  row-gap: 4px;

  >a {
    text-decoration: none;
    height: 35px;
    width: 100%;
    text-align: center;
    color: var(--sidebarNoticeGrey);
    padding: 8px;
    cursor: pointer;

    &:hover {
      color: var(--white);
      background-color: var(--sidebarHover);
      transition: all 225ms ease-in-out;
    }
  }
}

.infoPagesMobile {
  display: none;
}

.d-none {
  display: none !important;
}

.hide {
  visibility: hidden;
}


@media (max-width: 1024px) {
  .sidebar-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 2px calc(54vw - 300px);
    z-index: 950;

    >a>img {
      display: none;
    }

    >nav>div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .sidebar-nav a {
    font-size: 14px;
    font-weight: 400;
  }

  .nav-element {
    width: 120px;
    width: 80px;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 0;
    row-gap: 1px;

    &:last-of-type {
      row-gap: 3px;
    }

    >svg {
      height: 21px;
    }

    >svg:last-of-type {
      height: 30px;
    }

    &.nav-1>svg {
      width: 21px;
    }

    &.nav-2>svg {
      width: 21px;
    }

    &.nav-3>svg {
      width: 25px;
    }
  }

  .legal {
    display: none;
  }

  .infoPagesMobile {
    display: flex;
    column-gap: 8px;

    >.nav-element {
      width: auto;
      padding: 0 12px;
      display: flex;
      text-align: center;
      white-space: nowrap;
    }
  }
}

@media (max-width: 600px) {
  .sidebar-wrapper {
    padding: 2px calc(9vw - 32px);
  }

  .infoPagesMobile {
    column-gap: calc(0px + (100vw - 320px) * 0.02857);
  }
}