.index-overlay {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.blue-box {
  background-color: var(--dark);
  padding: 19px 25px;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  inset: 0;
  margin: auto;
  color: var(--white);
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 36px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 40px;
  opacity: 0;

  &.animate {
    animation: moveToCenter 1s ease-in-out forwards;
  }
}

.d-none {
  display: none;
}

@keyframes moveToCenter {
  from {
    top: 110%;
    opacity: 0;
  }

  to {
    top: 0%;
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .blue-box {
    padding: 14px 20px;
    font-size: 18px;
  }
}