* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.d-flex {
  display: flex;
}

.justify-content {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.flex-direction {
  flex-direction: column;
}

.border-radius-45 {
  border-radius: 45px;
}

.border-radius-24 {
  border-radius: 24px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-8 {
  border-radius: 8px;
}

.hug-height-24 {
  height: 24px;
}

.hug-width-24 {
  width: 24px;
}

.gap-16 {
  gap: 16px;
}

.gap-8 {
  gap: 8px;
}

.bg-color-white {
  background-color: var(--white);
}

.padding-left-21 {
  padding-left: 21px;
}