* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--lightGrey);

}

/* html {
  scroll-padding-top: 96px;
  scroll-padding-bottom: 80px;
} */

.main-content {
  overflow-y: hidden;
}

.smr-margin {
  width: auto;
  max-width: 1668px;
  height: min(calc(100vh - 96px), 1700px);
  justify-content: center;
  align-items: center;
  padding: 0 96px;
  overflow-x: hidden;
}

.summary-wrapper {
  width: 1050px;
  height: 700px;
  display: flex;
  flex-direction: column;
  row-gap: 48px!important;
}

.smry-title {
  display: flex;
  align-items: center;
  column-gap: 30px;

  > h1 {
    font-weight: 700;
    font-size: 63px;
    color: var(--black);
    letter-spacing: 1.8px;
  }

  > h2 {
    font-weight: 700;
    font-size: 61px;
    color: var(--black);
    letter-spacing: 1.8px;
  }

  > p:last-of-type {
    font-size: 27px;
    color: var(--dark);
    letter-spacing: 1.2px;
  }

  > #horizontal-blue {
    display: none;
  }
}

.smry-body {
  display: flex;
  column-gap: 82px;
}

.button-field {
  width: 560px;
  height: 576px;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .btn-row {
    width: 560px;
    height: 184px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* button frame, hover and scale settings */
.summary-btn {
  width: 264px;
  height: 168px;
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--dark);
  text-decoration: none;
  /* transition: all 80ms ease-in-out; */

  &.first:first-of-type {
  transform-origin: left center;
  
    &:hover {
      transform: scaleX(1.068) scaleY(1.095); 
    }
  }

  &.first:last-of-type {
    transform-origin: right center;

    &:hover {
      transform: scaleX(1.068) scaleY(1.095); 
    }
  }

  &.middle {
  transform-origin: left center;

    &:hover {
      transform: scaleX(1.032) scaleY(1.095); 
    }
  }

  &.last:first-of-type {
  transform-origin: left center;

    &:hover {
      transform: scale(1.095); 
    }
  }

  &.last:nth-of-type(2) {
    transform-origin: center;

    &:hover {
      transform: scale(1.095); 
    }
  }

  &.last:last-of-type {
    transform-origin: right center;

    &:hover {
      transform: scale(1.095); 
    }
  }
 
  &:hover {
    background-color: var(--dark);
    color: var(--white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    .btn-content-first {
      transform: scaleX(0.936) scaleY(0.913);
    }

    .middle-content-frame {
      transform: scaleX(0.969) scaleY(0.913) translateX(-2%);
    }

    .btn-content-last {
      transform: scale(0.915);
    }

    .urgent-text {
      color: var(--white);
    }

    .smry-icon {
      background-color: var(--white);
    }

    .icon-path {
      color: var(--dark);
    }

    .smry-number {
      color: var(--white);
    }
  }

  .icon-path {
    color: var(--white);
  }
}

/* 2nth and 3th row */
.middle {
  width: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 54px;
}

.summary-btn.last {
  width: 168px;
}

.btn-content-first {
  height: 101px;
  display: flex;
  align-items: center;
  text-align: center;
  column-gap: 30px;

  .text-first-row {
    font-size: 20px;
  }
}

.middle-content-frame {
  justify-content: center;
  column-gap: 54px;
  height: 96px;
  display: flex;
  align-items: center;
  text-align: center;
}

.btn-content-second {
  width: 140px;
  display: flex;
  align-items: center;
  text-align: center;
  column-gap: 15px;
  color: var(--dark);
  text-decoration: none;
}

.btn-content-last {
  height: 125px;
  width: 90px;
  text-align: center;

  .text-last-row {
    font-size: 20px
  }
}

.smry-icon {
  width: 69px;
  height: 69px;
  border-radius: 50px;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.smry-urgent{
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: var(--summaryOrange);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-grey {
  height: 105px;
}

.smry-number {
  font-size: 64px;
  font-weight: 600;
  color: var(--black);
}

.smry-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;

  .date-text {
    font-weight: 700;
    font-size: 21px;
  }
}

/* Greeting */
.hello-user {
  display: flex;
  justify-content: center;
  flex-direction: column;

  > p:first-of-type {
    font-weight: 500;
    font-size: 48px;
    letter-spacing: 1.1px;
    color: var(--dark);
  }

  > p:last-of-type {
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 1.3px;
    color: var(--lightBlue);
    hyphens: auto;
  }
}