@media (max-width: 1480px) {
  .summary-wrapper {
    max-width: 640px;
    height: 100%;
    row-gap: 32px !important;
    justify-content: center;
  }

  .smr-margin {
    padding: calc(46px + (100vw - 768px) * 0.08708) 0 !important;
  }

  .smry-body {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 32px;
  }

  .hello-user {
    display: flex;
    text-align: center;
    width: 630px;

    >p:first-of-type {
      font-size: 36px;
    }

    >p:last-of-type {
      font-size: 48px;
    }
  }
}

@media (max-width: 1024px) {
  .container.smr-margin {
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  .app-container {
    position: relative;
  }

  .hello-user {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 990;
    animation: showBackground 2.4s ease-in-out forwards;

    >p {
      animation: hideText 2.4s ease-in-out forwards;
    }

    >p:first-of-type {
      font-size: calc(28px + (100vw - 320px) * 0.01786);
    }

    >p:last-of-type {
      font-size: calc(38.0px + (100vw - 320.0px) * 0.02232);
    }
  }

  @keyframes showBackground {
    0% {
      background-color: var(--lightGrey);
    }

    20% {
      background-color: var(--lightGrey);
    }

    100% {
      background-color: rgba(255, 255, 255, 0);
      visibility: hidden;
    }
  }

  @keyframes hideText {
    to {
      color: transparent;
    }
  }

  .container.smr-margin {
    padding: 46px 0 !important;
    justify-content: center;
    height: calc(100vh - 170px);
  }

  .summary-wrapper {
    width: auto;
  }

  .smry-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;

    >p:first-of-type {
      font-size: calc(48px + (100vw - 480px) * 0.04514);
      padding-bottom: 4px;
    }

    >p:last-of-type {
      font-size: calc(20px + (100vw - 480px) * 0.02431);
      letter-spacing: calc(0 + (100vw - 480px) * 0.00417);
      ;
    }

    >#vertical-blue {
      display: none;
    }

    >#horizontal-blue {
      display: block;
      margin-top: 13px;
      width: calc(96px + (100vw - 480px) * 0.20139);
    }
  }

  .smry-body {
    flex-direction: column;
  }

  .button-field {
    width: calc(448.0px + (100vw - 480.0px) * 0.66667) !important;
    height: calc(450px + (100vw - 480px) * 0.4375) !important;

    .btn-row {
      width: calc(448px + (100vw - 480px) * 0.40972) !important;
      height: calc(142px + (100vw - 480px) * 0.14583) !important;
    }
  }

  .summary-btn {
    width: calc(212px + (100vw - 480px) * 0.20139) !important;
    height: calc(128px + (100vw - 480px) * 0.13889);

    &.middle {
      width: calc(448px + (100vw - 480px) * 0.40972) !important;
    }

    &.last {
      width: calc(134px + (100vw - 480px) * 0.125) !important;
    }
  }

  .btn-content-first {
    column-gap: calc(18px + (100vw - 480px) * 0.04167);

    .text-first-row {
      font-size: calc(16px + (100vw - 480px) * 0.01389);
    }
  }

  .middle-content-frame {
    column-gap: calc(26px + (100vw - 480px) * 0.09722);
  }

  .btn-content-second {
    width: calc(112px + (100vw - 480px) * 0.09722);
  }

  .btn-content-last {
    height: calc(108px + (100vw - 480px) * 0.05903);

    .text-last-row {
      font-size: calc(15px + (100vw - 480px) * 0.01736);
    }
  }

  .smry-icon {
    width: calc(48px + (100vw - 480px) * 0.07292);
    height: calc(48px + (100vw - 480px) * 0.07292);

    >svg {
      width: 50%;
    }
  }

  .smry-urgent {
    width: calc(44px + (100vw - 480px) * 0.05556);
    height: calc(44px + (100vw - 480px) * 0.05556);

    >svg {
      width: 50%;
    }
  }

  .vertical-grey {
    height: calc(72px + (100vw - 480px) * 0.11458);
    ;
  }

  .smry-number {
    font-size: calc(52px + (100vw - 480px) * 0.04167);
  }

  .smry-date {
    row-gap: calc(10px + (100vw - 480px) * 0.01736);

    .date-text {
      font-size: calc(18px + (100vw - 480px) * 0.01042);
    }
  }

  .hello-user {
    justify-content: flex-start;
    padding-top: 45vh;
  }
}

@media (max-width: 480px),
(pointer: coarse) {
  .summary-wrapper {
    row-gap: 0 !important;
  }

  .container.smr-margin {
    padding: 46px 0 !important;
    justify-content: center;
  }

  .smry-title {
    >p:first-of-type {
      font-size: 36px;
    }

    >p:last-of-type {
      font-size: 16px;
    }

    >#horizontal-blue {
      width: 96px;
    }
  }

  .button-field {
    width: calc(286px + (100vw - 320px) * 1.0125) !important;
    height: calc(400px + (100vw - 320px) * 0.1125) !important;

    .btn-row {
      width: calc(286px + (100vw - 320px) * 1.0125) !important;
      height: 142px !important;
    }
  }

  .summary-btn {
    width: calc(130px + (100vw - 320px) * 0.5125) !important;
    height: 128px;

    &.middle {
      width: calc(286px + (100vw - 320px) * 1.0125) !important;
    }

    &.last {
      width: clamp(85px, calc(85px + (100vw - 320px) * 0.30625), 134px) !important;
    }
  }

  .btn-content-first {
    column-gap: calc(10px + (100vw - 320px) * 0.05);

    .text-first-row {
      font-size: calc(14px + (100vw - 320px) * 0.0125);
    }
  }

  .middle-content-frame {
    column-gap: calc(12px + (100vw - 320px) * 0.0875);
  }

  .btn-content-second {
    width: calc(90px + (100vw - 320px) * 0.1375);
    column-gap: calc(8px + (100vw - 320px) * 0.04375);
  }

  .btn-content-last {
    height: calc(100px + (100vw - 320px) * 0.05);

    .text-last-row {
      font-size: calc(14px + (100vw - 320px) * 0.00625);
    }
  }

  .smry-icon {
    width: calc(40px + (100vw - 320px) * 0.05);
    height: calc(40px + (100vw - 320px) * 0.05);
  }

  .smry-urgent {
    width: calc(36px + (100vw - 320px) * 0.05);
    height: calc(36px + (100vw - 320px) * 0.05);
  }

  .urgent-text {
    font-size: calc(14px + (100vw - 320px) * 0.0125);
  }

  .vertical-grey {
    height: 72px;
  }

  .smry-number {
    font-size: calc(48px + (100vw - 320px) * 0.025);
  }

  .smry-date {
    row-gap: calc(8px + (100vw - 320px) * 0.0125);

    .date-text {
      font-size: calc(16px + (100vw - 320px) * 0.0125);
    }

    >p:last-of-type {
      font-size: calc(14px + (100vw - 320px) * 0.0125);
    }
  }
}